body{
    margin:0;
    overflow-x:hidden;
}

.main-hero-section{
    height:100vh;
    width:100%;
    background-image:
    linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
    url("../images/bg-img.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-content{
    padding-top:220px;
    padding-left:60px;
    color:white;
}

.hero-content h1{
    font-size:70px;
}

.hero-content p{
    font-size:24px;
    width:650px;
    margin-top:15px;
}

.destination-container{
    display:flex;
    align-items:center;
    gap:20px;
    background:white;
    padding:20px 25px;
    border-radius:20px;
    margin-top:35px;
    width:fit-content;
}
.destination-container-items{
    display:flex;
    align-items:center;
    gap:10px;
}

.destination-input{
    border:none;
    outline:none;
    padding:10px;
}

.btn-search{
    background:#FFA02E;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon{
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.recommendations{
    margin-top: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.recommendations-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.recommendations-count{
    font-size: 30px;
    font-weight: 700px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}