*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* HERO SECTION */
.main-hero-section{
    width: 100%;
    min-height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../images/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.logo-section h1{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.logo-section span{
    color: #FFA02E;
}

/* NAV LINKS */
.nav-links,
.login-links{
    display: flex;
    gap: 30px;
}

.nav-links a,
.login-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links a:hover,
.login-links a:hover{
    color: #FFA02E;
}

/* HERO CONTENT */
.hero-content{
    padding: 100px 60px;
    color: white;
}

.hero-content h1{
    font-size: 75px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 28px;
    width: 700px;
    margin-bottom: 35px;
}

/* SEARCH BOX */
.search-box{
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px 25px;
    border-radius: 20px;
    width: fit-content;
}

.search-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    width: 22px;
    height: 22px;
}

.search-box input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
}

.search-box button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 22px;
    background: #FFA02E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.search-icon{
    width: 18px;
    height: 18px;
}

/* STATS */
.stats{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    width: fit-content;
}

.stat-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
}

.stat-item h2{
    font-size: 28px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.stat-item p{
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 1.2;
}
/* DESTINATION SECTION */
.destination-section{
    padding: 80px;
    text-align: center;
}

.destination-section h1{
    font-size: 45px;
    margin-bottom: 15px;
}

.destination-section p{
    font-size: 20px;
    margin-bottom: 40px;
}

.destination-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.big{
    width: 300px;
    height: 400px;
}

.small{
    width: 300px;
    height: 190px;
}