*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}


.img-container{
    display: flex;
    align-items: center;
}

.main-logo-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.website-name{
    font-size: 26px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    gap: 28px;
}

.login-menu{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}

.menu{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    transition: 0.3s;
}
.menu:hover{
    color: #FFA02E;
}