.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    align-items: center;
    padding-top: 5px;
}

.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.website-name{
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}

.main-logo-img{
    width:80px;
    height:80px;
    border-radius: 50%;
}

.nav-menu{
    display: flex;
    gap: 20px;
}

.login-menu{
    display: flex;
    gap: 20px;
}

.menu{
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 20px;
}